include *.rst
include *.txt
include .coveragerc
include tox.ini
include buildout.cfg

include .gitignore
exclude .gitignore

include .travis.yml
exclude .travis.yml

recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.py
recursive-include src *.txt
recursive-include src *.zcml
